/*
  ----------------
  sng-news
  ----------------
*/

.sng-news {

  .news-article {
    .containers {
      max-width: 880px;
      padding: 70px 30px 100px;
      @media #{$sp} {
        padding: 35px 15px 50px;
      }
    }
    &__date {
      margin-bottom: 20px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
      .time {
        display: inline-block;
        color: #666666;
      }
      .cat {
        display: inline-block;
        text-align: center;
        line-height: 1.4;
        font-size: 14px;
        padding: 5px 15px;
        color: #fff;
        background: #00A0E9;
        @media #{$sp} {
          font-size: 12px;
          padding: 5px;
        }
        &.doc {
          background: #187FC4;
        }
        &.semi {
          background: #F0595B;
        }
        &.new {
          background: #71BF44;
        }
        &.other {
          background: #888888;
        }
        &.v1 {
          background: #A053B1;
        }
        &.v2 {
          background: #00B6BC;
        }
      }
    }

    &__h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 30px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    .sns {
      margin-bottom: 30px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
    }

    &__lead {
      padding-bottom: 30px;
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 30px;
      @media #{$sp} {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }

    &__conts {
      p {
        &:not(:last-child) {
          margin-bottom: 30px;
          @media #{$sp} {
            margin-bottom: 15px;
          }
        }
      }
    }

  }

}