{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="company">

  <section class="hero-lower core">
    <div class="containers">
      <div class="hero-lower__box">
        <h1 class="ttl-primary">企業情報</h1>
      </div>
    </div>
  </section>

  <section class="history">
    <div class="containers">
      <h2 class="ttl-secondary non">森下仁丹の歴史</h2>
      <summary class="history__summary">
        <p>1893年2月11日、当社は薬種商「森下南陽堂」として創業しました。<br>創業にあたって、創業者・森下博は事業の基本方針としてこの言葉を掲げました。</p>
        <p><b>原料の精選を生命とし、優良品の製造販売<br>進みては、外貨の獲得を実現し、<br>広告による薫化益世を使命とする</b></p>
        <p>この考えは130年経った今に受け継がれています。</p>
        <p>「誰もがいつでもどこでも健やかにいられるように」と想いを込めた銀粒仁丹が誕生したのは1929年でした。<br>生薬を「包んで守る」技術によって、携帯性、保存安定性を飛躍的に高めた仁丹は、日本のみならず世界の人々から称賛されました。<br>仁丹の「包んで守る」技術から着想を得た<b>シームレスカプセル技術</b>。研究を重ねてその技術を更に進化させ、広く社会に新しい価値を提供しています。</p>
        <p>また、仁丹はもともと、当時の薬学の権威であった三輪徳寛、井上善次郎両博士の協力を得て、自らも処方の研究をすすめてうまれた生薬製剤で、発売から110年以上たった今も販売しています。<br>厳選された良質な素材で、優れた製品を提供する。という創業時の想いの通り、長年生薬について研究を重ねてきた知見とノウハウを活かして、<b>当社ならではの確かな鑑定眼で優良な素材を厳選し、原料として提供</b>しています。</p>
        <p>昨今では、機能性表示食品制度の旗振り役として制度づくりをすすめ、そのエビデンス構築や書類作成の知識・ノウハウを活かし、機能性原料の供給から機能性表示の届出のサポートなども行っています。</p>
      </summary>
      <h2 class="ttl-secondary non">企業情報</h2>
      <dl class="flex fS history__desc">
        <dt>社名</dt>
        <dd>森下仁丹株式会社</dd>
        <dt>創業</dt>
        <dd>1893年（明治26年）2月</dd>
        <dt>設立</dt>
        <dd>1936年（昭和11年）11月</dd>
        <dt>資本金</dt>
        <dd>353,740万円</dd>
        <dt>発行株式数</dt>
        <dd>415万株</dd>
        <dt>証券コード</dt>
        <dd>4524（東証スタンダード市場）</dd>
        <dt>従業員数</dt>
        <dd>連結348名　単体333名 （2022年3月31日現在）</dd>
        <dt>売上高</dt>
        <dd>連結9,563百万円　単体9,580百万円 （2022年3月期）</dd>
        <dt>主な事業</dt>
        <dd>医薬品、医薬部外品、化粧品、医療機器ならびに食品等の製造および販売</dd>
        <dt>関連会社</dt>
        <dd>株式会社森下仁丹ヘルスコミュニケーションズ</dd>
      </dl>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">サービスに関するお問合せ・ご相談</h2>
      <div class="lead">原料の供給から差別化できる商品開発のご相談まで、<br class="sp-only">お気軽にご相談ください。</div>
      <a href="/contact/" class="more bgY">お問合せ・ご相談はこちら</a>
      <summary class="flex aiC inquiry__box">
        <div class="inquiry__box--txt">サービス資料やお役立ち資料を<br class="sp-only">ご希望の方はこちら</div>
        <div class="flex inquiry__box--btn">
          <a href="/catalog/" class="more bgY tiny">サービス資料</a>
          <a href="/whitepaper/" class="more bgY tiny">お役立ち資料</a>
        </div>
      </summary>
    </div>
  </section>

</main>

{% endblock %}