{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="arc-whitepaper">

  <section class="hero-lower core">
    <div class="containers">
      <div class="hero-lower__box">
        <h1 class="ttl-primary">お役立ち資料</h1>
        <div class="hero-lower__box--sub">機能性原料やシームレスカプセル技術に関する基礎知識から実践に役立つノウハウ・事例資料まで<br class="pc-only">無料でダウンロードできますので是非ご覧ください。</div>
      </div>
    </div>
  </section>

  <section class="latest">
    <div class="containers">
      <h2 class="ttl-secondary non">おすすめ資料</h2>
      <div class="flex gap30">

        <a href="#" class="flex item">
          <h2 class="item__ttl">資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資</h2>
          <div class="item__img"><img src="/assets/img/whitepaper/img-item01.jpg" alt=""></div>
          <div class="item__box">
            <div class="cat">カテゴリ名</div>
            <h3 class="item__box--txt">資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。</h3>
          </div>
        </a>

        <a href="#" class="flex item">
          <h2 class="item__ttl">資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資</h2>
          <div class="item__img"><img src="/assets/img/whitepaper/img-item02.jpg" alt=""></div>
          <div class="item__box">
            <div class="cat">カテゴリ名</div>
            <h3 class="item__box--txt">資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。</h3>
          </div>
        </a>
        
      </div>
    </div>
  </section>

  <section>
    <div class="containers">

      <a href="#" class="flex card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card01.jpg" alt="体脂肪ケア素材　ローズヒップエキス"></figure>
        <summary class="card__box">
          <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り</div>
          <div class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          <div class="more small">ダウンロードはこちら</div>
        </summary>
      </a>

      <a href="#" class="flex card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card02.jpg" alt="アイケア素材　カシスエキス"></figure>
        <summary class="card__box">
          <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り</div>
          <div class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          <div class="more small">ダウンロードはこちら</div>
        </summary>
      </a>

      <a href="#" class="flex card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card03.jpg" alt="糖ケア素材　サラシアエキス"></figure>
        <summary class="card__box">
          <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り</div>
          <div class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          <div class="more small">ダウンロードはこちら</div>
        </summary>
      </a>

      <a href="#" class="flex card">
        <figure class="card__img"><img src="/assets/img/whitepaper/img-card04.jpg" alt=""></figure>
        <summary class="card__box">
          <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入り</div>
          <div class="card__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          <div class="more small">ダウンロードはこちら</div>
        </summary>
      </a>
      
    </div>
  </section>

</main>

{% endblock %}